*.o
*.lo
.*
*~
*.so
*/core
Debug/*
modules/*
/Debug
/CMakeFiles
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/server
/lib
/bin
/install_manifest.txt
/tests
/wiki
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.in
/Makefile.fragments
/Makefile.global
/Makefile.objects
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/swoole.la
/acinclude.m4
/aclocal.m4
/run-tests.php
/autom4te.cache
/build

/modules
