/.cproject
/.idea
/.project
*.o
*.lo
*~
*.so
*.loT
*.pid
*.dep
/Debug/*
modules/*
/.deps
/.libs/
/core
/examples/core
/Debug
/CMakeFiles
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/bin
/lib
/library
/install_manifest.txt
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/Makefile.fragments
/Makefile.global
/Makefile.objects
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/swoole.la
/acinclude.m4
/aclocal.m4
/run-tests.php
/autom4te.cache
/build
/examples/async/data.txt
/examples/.idea
/examples/recv_file.jpg
/modules
/examples/async/test.copy
/examples/ssl_client
/examples/ssl/ca.crt
/examples/ssl/client.key
/examples/ssl/client.pfx
/examples/ssl/client
/examples/ssl/corpssl.crt
/examples/ssl/corpssl.key
/examples/ext
/benchmark/.idea/
/benchmark/vendor
/benchmark/composer.lock
/tools/.idea/
/tmp-php.ini
.settings/
tests/.idea
/tests/swoole_*/*.log
/tests/swoole_*/*.sh
/tests/swoole_*/*.diff
/tests/swoole_*/*.out
/tests/swoole_*/*.exp
/tests/swoole_*/*.mem
/tests/swoole_*/*.php
/tests/swoole_library/curl/skip
/core-tests/server/*.log
cmake-build-debug/
*.cbp
/.vscode
/.vs
/configure.in
/configure.ac
/core-tests/CMakeCache.txt
/core-tests/CMakeFiles/
/core-tests/Makefile
/core-tests/bin/
/core-tests/cmake_install.cmake
/tools/vendor
/tools/composer.lock
/examples/wrapper/CMakeFiles
/examples/wrapper/CMakeCache.txt
/examples/wrapper/Makefile
/examples/wrapper/server
/examples/wrapper/cmake_install.cmake
core-tests/samples/Makefile
core-tests/samples/cmake_install\.cmake
core-tests/samples/CMakeCache\.txt
core-tests/samples/bin/
core-tests/samples/CMakeFiles/
/out
/gcov_result

# coverage
*.gcno
*.gcov
*.gcda
*.info
/html
/tests/include/lib/vendor/
/tests/include/lib/composer.lock
/core-tests/fuzz/fuzz_results/
/core-tests/fuzz/bin/
/scripts/data
