[submodule "thirdparty/hiredis"]
	path = thirdparty/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "thirdparty/nghttp2"]
	path = thirdparty/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "thirdparty/picohttpparser"]
	path = thirdparty/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
[submodule "thirdparty/jemalloc"]
	path = thirdparty/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
