/.cproject
/.idea
/.project
/examples/yield/
*.o
*.lo
*~
*.so
*.loT
*.pid
Debug/*
modules/*
/.deps
/.libs/
/core
/examples/core
/Debug
/CMakeFiles
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/server
/lib
/bin
/install_manifest.txt
/wiki
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.in
/Makefile.fragments
/Makefile.global
/Makefile.objects
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/swoole.la
/acinclude.m4
/aclocal.m4
/run-tests.php
/autom4te.cache
/build
/examples/async/data.txt
/examples/.idea
/examples/recv_file.jpg
/modules
/examples/async/test.copy
/examples/ssl_client
/examples/ssl/ca.crt
/examples/ssl/client.key
/examples/ssl/client.pfx
/examples/ssl/client
/examples/ssl/corpssl.crt
/examples/ssl/corpssl.key
/examples/ext
/examples/cpp_module/.cproject
/examples/cpp_module/.project
/benchmark/.idea/
examples/c_module/.cproject
examples/c_module/.project
/tools/.idea/
/tmp-php.ini
.settings/
tests/.idea
/tests/*/*.log
/tests/*/*.sh
/tests/*/*.diff
/tests/*/*.out
/tests/*/*.exp
/tests/*/*.php
cmake-build-debug/
/swoole_server.cbp
/.vscode
/configure.ac
