name: ext-swoole

on: [push, pull_request]

jobs:
  build-ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: install-deps
      run: sudo apt install -y libcurl4-openssl-dev php-curl
    - name: phpize
      run: phpize
    - name: build1
      run: ./configure && make clean && make -j$(sysctl -n hw.ncpu)
    - name: build2
      run: ./configure --enable-sockets &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build3
      run: ./configure --enable-sockets --enable-mysqlnd && make clean &&
        make -j$(sysctl -n hw.ncpu)
    - name: build4
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build5
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 --enable-openssl &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build6
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 --enable-openssl --enable-debug-log &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build7
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 --enable-swoole-curl --enable-swoole-json 
        --enable-openssl --enable-debug-log &&
        make clean && make -j$(sysctl -n hw.ncpu)

  build-ubuntu-old:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@v1
    - name: install-deps
      run: sudo apt install -y libcurl4-openssl-dev php-curl
    - name: phpize
      run: phpize
    - name: build1
      run: ./configure && make clean && make -j$(sysctl -n hw.ncpu)
    - name: build2
      run: ./configure --enable-sockets &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build3
      run: ./configure --enable-sockets --enable-mysqlnd && make clean &&
        make -j$(sysctl -n hw.ncpu)
    - name: build4
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build5
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 --enable-openssl &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build6
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 --enable-swoole-curl --enable-swoole-json 
        --enable-openssl --enable-debug-log &&
        make clean && make -j$(sysctl -n hw.ncpu)

  build-macos-latest:
    runs-on: macos-latest
    steps:
    - name: install dependencies
      run: brew install openssl && brew link openssl && brew install curl && brew link curl 
    - uses: actions/checkout@v1
    - name: phpize
      run: phpize
    - name: build1
      run: ./configure && make clean && make -j$(sysctl -n hw.ncpu)
    - name: build2
      run: ./configure --enable-sockets &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build3
      run: ./configure --enable-sockets --enable-mysqlnd && make clean &&
        make -j$(sysctl -n hw.ncpu)
    - name: build4
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build5
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 --enable-openssl 
        --with-openssl-dir=/usr/local/opt/openssl@1.1 &&
        make clean && make -j$(sysctl -n hw.ncpu)
    - name: build6
      run: ./configure --enable-sockets --enable-mysqlnd --enable-http2 --enable-swoole-curl --enable-swoole-json 
        --enable-openssl --with-openssl-dir=/usr/local/opt/openssl@1.1 --enable-debug-log &&
        make clean && make -j$(sysctl -n hw.ncpu)

  build-alpine-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: build
        run: cp .github/workflows/alpine.Dockerfile alpine.Dockerfile && docker build -t swoole . -f alpine.Dockerfile
