name: test-linux

on: [push, pull_request]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[zts]')"
    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2', '8.3']
        fileDriver: ['thread', 'iouring']
    steps:
    - uses: actions/checkout@v4
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "${{ matrix.php }}"
        coverage: none
    - name: Show machine information
      run: |
        date
        env
        uname -a
        ulimit -a
        php -v
        php --ini
        ls -al
        pwd
        echo "`git log -20 --pretty --oneline`"
        echo "`git log -10 --stat --pretty --oneline`"
    - name: Run pecl-install.sh
      run: |
        sudo ${{runner.workspace}}/swoole-src/scripts/pecl-install.sh
    - name: Run Swoole test
      run: |
        export SWOOLE_FILE_DRIVER=${{ matrix.fileDriver }}
        export SWOOLE_BRANCH=${GITHUB_REF##*/}
        export SWOOLE_BUILD_DIR=$(realpath .)
        export PHP_VERSION=${{ matrix.php }}
        ${SWOOLE_BUILD_DIR}/scripts/route.sh
