name: test-linux

on: [push, pull_request]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.0, 8.1]
    steps:
    - uses: actions/checkout@v3
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "${{ matrix.php }}"
    - name: Show machine information
      run: |
        date
        env
        uname -a
        ulimit -a
        php -v
        php --ini
        ls -al
        pwd
        echo "`git log -20 --pretty --oneline`"
        echo "`git log -10 --stat --pretty --oneline`"
    - name: Run pecl-install.sh
      run: |
        sudo ${{runner.workspace}}/swoole-src/travis/pecl-install.sh
    - name: Run Swoole test
      run: |
        export TRAVIS_BRANCH=${GITHUB_REF##*/}
        ${{runner.workspace}}/swoole-src/travis/route.sh
