name: test-linux

on: [push, pull_request]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2', '8.3']
    steps:
    - uses: actions/checkout@v4
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "${{ matrix.php }}"
        coverage: none
      env:
        phpts: ts
    - name: Show machine information
      run: |
        date
        env
        uname -a
        ulimit -a
        php -v
        php --ini
        ls -al
        pwd
        echo "`git log -20 --pretty --oneline`"
        echo "`git log -10 --stat --pretty --oneline`"
    - name: Run pecl-install.sh
      run: |
        sudo ${{runner.workspace}}/swoole-src/scripts/pecl-install.sh
    - name: Run Swoole test
      run: |
        export SWOOLE_BRANCH=${GITHUB_REF##*/}
        export SWOOLE_THREAD=1
        ${{runner.workspace}}/swoole-src/scripts/route.sh
