name: Thread Support Tests

on: [push, pull_request]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[workflow-filter]') || contains(github.event.head_commit.message, '[thread]')"
    strategy:
      fail-fast: false
      matrix:
        php: ['8.1-zts', '8.2-zts', '8.3-zts']
    name: ${{ matrix.php }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "${{ matrix.php }}"
        coverage: none
      env:
        phpts: ts
    - name: Show machine information
      run: |
        date
        env
        uname -a
        ulimit -a
        php -v
        php --ini
        ls -al
        pwd
        echo "`git log -20 --pretty --oneline`"
        echo "`git log -10 --stat --pretty --oneline`"
    - name: Run Swoole test
      run: |
        export SWOOLE_BRANCH=${GITHUB_REF##*/}
        export SWOOLE_THREAD=1
        export SWOOLE_BUILD_DIR=$(realpath .)
        export PHP_VERSION=${{ matrix.php }}
        ${SWOOLE_BUILD_DIR}/scripts/route.sh
